{% extends 'base.html.twig' %}
{% block body %}
    <aside class="right-side">
        <!-- Main content -->
        <section class="content-header" style="padding-left: 20px">

            <h4> Nouveau cours</h4>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="{{ path('nada_default_index') }}">
                        <i class="livicon" data-name="home" data-size="16" data-color="#333" data-hovercolor="#333"></i>
                        Home
                    </a>
                </li>
                <li class="active">

                    Nouveau cours
                    </a>
                </li>
            </ol>
        </section>
        <section class="content">
            <section class="content paddingleft_right15">

                <div class="row">

                    <div class="col-md-4">
                        <div class="panel">
                            <div class="panel-heading" style="background-color: #A6192E;color:#ffffee">
                                <h4 class="panel-title">
                                    <i class="livicon" data-name="user" data-size="16" data-loop="true" data-c="#fff" data-hc="white"></i>
                                    Information du cours
                                </h4>
                            </div>
                            {{ form_start(form) }}
                            <div class="panel-body">
                                <div class="field-input">
                                    <label> Nom du cours </label>

                                    {{ form_widget(form.nom, {'id':'nom','attr': {'class': 'form-control','placeholder':'nom' }}) }}
                                </div>

                                <div class="field-input">
                                    <label> Module</label>

                                    {{ form_widget(form.module, {'id':'module','attr': {'class': 'form-control','placeholder':'Nom module' }}) }}
                                </div>
                                <div class="field-input">
                                    <label> Niveau</label>

                                    {{ form_widget(form.idClasse, {'id':'Niveau','attr': {'class': 'form-control','placeholder':'Niveau' }}) }}
                                </div>
                                <div class="field-input">
                                    <label> Type</label>

                                    {{ form_widget(form.type, {'id':'numero','attr': {'class': 'form-control','placeholder':' Type' }}) }}
                                </div>
                                <div class="download-btn">
                                    <label> fichier</label>

                                    {{ form_widget(form.imageFile, {'id':'numero','attr': {'class': 'form-control','placeholder':' Fichier' }}) }}
                                    <br>
                                </div>

                                <br>
                                <div>

                                    <input class="btn btn-lg btn-block" style="background-color: #A6192E; color: #ffffee; " type="submit" id="_submit" name="_submit" value="{{ 'Nouveau cours'|trans }}" />

                                </div>
                                {{ form_end(form) }}




                            </div>
                        </div></div>


                </div>




            </section>
        </section>
    </aside>


{% endblock%}